@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  font-family: Arial, sans-serif;
}
navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  text-align: center;
}

#photosBody {
  font-family: "Poppins";
}

#photosDiv {
  display: flex;
}

#photosDiv img {
  height: 200px;
  width: 200px;
}
